@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/times-new-roman");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

a,
button {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #282B66;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
  overflow-y: scroll;
}

::-moz-selection {
  background-color: #A66618;
  color: #ffffff;
}

::selection {
  background-color: #A66618;
  color: #ffffff;
}

p {
  color: #282B66;
  line-height: 150%;
  color: #3F3F3F;
}

.mt-80 {
  margin-top: 80px;
}

.mb-n80 {
  margin-bottom: -80px;
}

.mt-40 {
  margin-top: 40px;
}

.py-80 {
  padding: 80px 0;
}

/* Loader css */
.fullpage_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fullpage_loader .loader {
  width: 3.125rem;
  aspect-ratio: 1;
  display: -ms-grid;
  display: grid;
}
.fullpage_loader .loader::before,
.fullpage_loader .loader::after {
  content: "";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #03256D 92%, transparent);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 0.75rem 0.75rem;
  -webkit-animation: l12 1s infinite;
          animation: l12 1s infinite;
}
.fullpage_loader .loader::before {
  margin: 0.25rem;
  -webkit-filter: hue-rotate(45deg);
          filter: hue-rotate(45deg);
  background-size: 0.5rem 0.5rem;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes l12 {
  100% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}
@keyframes l12 {
  100% {
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}

.reveal_image {
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.reveal_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.theme_btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  background: #282B66;
  border-radius: 10px;
  font-family: "Times New Roman", sans-serif;
  padding: 4px 25px 4px 15px;
  margin-right: 15px;
}
.theme_btn .arrow {
  width: 36px;
  height: 36px;
  background: #A66618;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -3px;
  right: -15px;
}

/* Section title css */
.section_title {
  margin-bottom: 24px;
}
.section_title .title {
  font-size: 28px;
  font-weight: 700;
  font-family: "Roboto Condensed", serif;
}

.line-limit-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical;
}

.line-limit-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
}

.line-limit-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical;
}

.line-limit-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical;
}

.line-limit-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical;
}

.line-limit-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6 !important;
  -webkit-box-orient: vertical;
}

.line-limit-7 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7 !important;
  -webkit-box-orient: vertical;
}

.line-limit-8 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8 !important;
  -webkit-box-orient: vertical;
}

.line-limit-9 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9 !important;
  -webkit-box-orient: vertical;
}

.line-limit-10 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10 !important;
  -webkit-box-orient: vertical;
}

.header_area {
  padding: 0px 0;
  position: relative;
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  border-top: 8px solid #282B66;
  border-bottom: 5px solid #282B66;
  padding: 10px 0;
  padding-bottom: 0;
}
.header_area .contribute {
  background: #282B66;
  border-radius: 8px;
  font-family: "Roboto Condensed", serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 20px;
}
.header_area .call .title {
  font-family: "Roboto Condensed", serif;
  color: #A66618;
  font-size: 14px;
  font-weight: 600;
}
.header_area .call .title svg {
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
}
.header_area .call p {
  font-size: 13px;
  font-weight: 500;
  color: #282B66;
}
.header_area .header_info .info_item .search_btn {
  border-radius: 50%;
  border: 2px solid #282B66;
  background: transparent;
  width: 35px;
  height: 35px;
}
.header_area .header_info .info_item .search_btn svg {
  width: 16px;
  height: 16px;
}
.header_area .header_info .menus {
  margin-top: 5px;
}
.header_area .header_info .menus ul li {
  position: relative;
}
.header_area .header_info .menus ul li .main_menu {
  font-size: 14px;
  font-weight: 600;
  color: #282B66;
  text-transform: uppercase;
  line-height: 60px;
}
.header_area .header_info .menus ul li .main_menu i {
  font-size: 12px;
}
.header_area .header_info .menus ul li:hover a {
  color: #A66618;
}
.header_area .header_info .menus ul li .sub_menu {
  width: 260px;
  background-color: #ffffff;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
}
.header_area .header_info .menus ul li .sub_menu li {
  margin: 0;
}
.header_area .header_info .menus ul li .sub_menu li a {
  gap: 8px;
  color: #282B66 !important;
  line-height: 20px;
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
}
.header_area .header_info .menus ul li .sub_menu li a i {
  font-size: 12px;
  margin-top: 3px;
}
.header_area .header_info .menus ul li .sub_menu li a:hover {
  background-color: #A66618;
  color: #ffffff !important;
}
.header_area .header_info .menus ul li .sub_menu li a::after {
  display: none;
}
.header_area .header_info .menus ul li .sub_menu li ul {
  left: 100%;
  top: 0;
}
.header_area .header_info .menus ul li:hover > ul {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.header_area .header_info .menus ul li + li {
  margin-left: 20px;
}
.header_area .header_info .menus .theme_btn {
  font-family: "Roboto", sans-serif;
  border-radius: 50px;
  margin-right: 20px;
}
.header_area .header_info .menus .theme_btn .arrow {
  width: 32px;
  height: 32px;
  right: -20px;
  top: -2px;
}
.header_area .search-option {
  width: 100%;
  height: 100%;
  background-color: #282B66;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.header_area .search-option .input-groups {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
}
.header_area .search-option .input-groups input {
  height: 45px;
  padding: 0 75px 0 25px;
  color: #282B66;
  font-size: 14px;
  border-radius: 40px;
  border: none;
}
.header_area .search-option .input-groups button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  background-color: #A66618;
  border: none;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_area .search-option .close-search {
  position: absolute;
  right: -60px !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_area .search-option .close-search i {
  color: #ffffff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

/* Mobile menu area start */
.mobile-menu-area {
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  margin-top: 0;
}
.mobile-menu-area .mobile-topbar {
  width: 100%;
  background-color: #ffffff;
  padding: 13px 0;
}
.mobile-menu-area .mobile-topbar .bars {
  height: 40px;
  width: 40px;
  color: #282B66;
  font-size: 18px;
  border-radius: 50% !important;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #282B66;
}
.mobile-menu-area .mobile-topbar .bars:hover {
  background-color: #A66618;
  border-color: #A66618;
  color: #ffffff;
}
.mobile-menu-area .mobile-menu-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.mobile-menu-area .mobile-menu-overlay.active {
  visibility: visible;
  opacity: 1;
}
.mobile-menu-area .mobile-menu-main {
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 999;
  overflow-y: scroll;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.mobile-menu-area .mobile-menu-main .logo {
  padding: 20px;
}
.mobile-menu-area .mobile-menu-main .close-mobile-menu {
  position: absolute;
  top: 25px;
  right: 10px;
}
.mobile-menu-area .mobile-menu-main .close-mobile-menu i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #282B66;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.mobile-menu-area .mobile-menu-main .mobile_search {
  padding: 0px 20px;
}
.mobile-menu-area .mobile-menu-main .mobile_search .input-groups input {
  height: 45px;
  padding: 0 75px 0 25px;
  color: #282B66;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background: #f5f5f5;
}
.mobile-menu-area .mobile-menu-main .mobile_search .input-groups button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #ffffff;
  background-color: #A66618;
  border: none;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list {
  padding-top: 10px;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a {
  color: #282B66;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 78px;
  border-top: 1px solid #dddddd;
  width: 100%;
  padding: 0px 20px;
  line-height: 44px;
  padding-right: 10px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a i {
  width: 32px;
  height: 32px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover {
  color: #A66618;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover i {
  background-color: #A66618;
  color: #ffffff;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul {
  padding-left: 0;
  display: none;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul a {
  padding: 0px 20px;
  padding-left: 40px;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul li:last-child a {
  border-bottom: 0;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li:last-child a {
  border-bottom: 1px solid #dddddd;
}
.mobile-menu-area .mobile-menu-main.active {
  left: 0 !important;
}
.mobile-menu-area .mobile-menu-action-btn {
  padding: 20px;
}
.mobile-menu-area .mobile-menu-action-btn a {
  color: #ffffff;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.mobile-menu-area .mobile-menu-action-btn a i {
  font-size: 14px;
  margin-left: 8px;
}
.mobile-menu-area .mobile-menu-action-btn a:hover {
  background-color: #282B66;
}

.sticky-menu {
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#header-fixed-height.active-height {
  display: block;
  height: 124px;
}

.banner_section .banner-slider .arrow {
  width: 56px;
  height: 56px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  color: #656361;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  border-radius: 5px;
}
@media (max-width: 991.98px) {
  .banner_section .banner-slider .arrow {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 575.98px) {
  .banner_section .banner-slider .arrow {
    width: 30px;
    height: 30px;
  }
}
.banner_section .banner-slider .arrow:hover {
  background: #A66618;
  color: #ffffff;
}
.banner_section .banner-slider .arrow-prev {
  left: 0;
}
.banner_section .banner-slider .arrow-next {
  right: 0;
}

.banner_sm_main {
  left: 0;
  bottom: 20px;
}
@media (max-width: 575.98px) {
  .banner_sm_main {
    bottom: 10px;
  }
}
.banner_sm_main .slick-list {
  padding: 10px 0 !important;
  margin: -10px 0;
}
.banner_sm_main .slider_sm_item .img {
  border-radius: 50%;
  border: 1px solid #282B66;
  margin: 0 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
@media (max-width: 575.98px) {
  .banner_sm_main .slider_sm_item .img {
    width: 36px;
    height: 36px;
    margin: 0 5px;
  }
}
.banner_sm_main .slider_sm_item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.banner_sm_main .slider_sm_item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news_ticker_area {
  margin-top: 5px;
}
.news_ticker_area .new_bg {
  background: #E8E8E8;
}
.news_ticker_area .title {
  background: #282B66;
  padding: 9px 40px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Times New Roman", sans-serif;
}
.news_ticker_area p {
  font-size: 20px;
  font-weight: 500;
  color: #282B66;
  font-family: "Times New Roman", sans-serif;
  padding: 0 20px;
}

.about_info .title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media (max-width: 1399.98px) {
  .about_info .title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .about_info .title {
    font-size: 26px;
  }
}
@media (max-width: 575.98px) {
  .about_info .title {
    font-size: 22px;
  }
}
.about_info p {
  font-size: 22px;
  font-weight: 500;
  line-height: 160%;
  text-align: justify;
}
@media (max-width: 1399.98px) {
  .about_info p {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .about_info p {
    font-size: 16px;
  }
}

.research_area .research_item {
  overflow: hidden;
}
.research_area .research_item img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.research_area .research_item .text {
  background: rgba(40, 43, 102, 0.4);
  padding: 10px 20px;
}
.research_area .research_item .text .title {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Times New Roman", sans-serif;
}
.research_area .research_item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.publication_area .publication_item .img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.publication_area .publication_item .text {
  background: #282B66;
  padding: 5px 10px;
  border-top: 3px solid #A66618;
}
.publication_area .publication_item .text .title {
  font-family: "Times New Roman", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.recent_activities_area .article_item_big {
  border: 1px solid #cccccc;
  height: 100%;
}
.recent_activities_area .article_item_big .image {
  overflow: hidden;
}
.recent_activities_area .article_item_big .image img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.recent_activities_area .article_item_big .text {
  padding: 5px 10px 5px;
}
.recent_activities_area .article_item_big .text .title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", sans-serif;
  color: #282B66;
}
.recent_activities_area .article_item_big .text p {
  font-family: "Times New Roman", sans-serif;
  margin-top: 4px;
}
.recent_activities_area .article_item_big:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.recent_activities_area .article_item {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #cccccc;
}
.recent_activities_area .article_item:last-child {
  margin-bottom: 0;
}
.recent_activities_area .article_item .image {
  width: 140px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 140px;
  overflow: hidden;
}
.recent_activities_area .article_item .image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.recent_activities_area .article_item .text {
  padding: 5px;
  width: 70%;
}
.recent_activities_area .article_item .text .title {
  font-size: 16px;
  font-weight: 600;
  color: #282B66;
  font-family: "Times New Roman", sans-serif;
}
.recent_activities_area .article_item .text p {
  color: #282B66;
  font-family: "Times New Roman", sans-serif;
}
.recent_activities_area .article_item:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.news_area .news_item {
  margin: 0 8px;
}
.news_area .news_item .img {
  position: relative;
  overflow: hidden;
}
.news_area .news_item .img img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.news_area .news_item .img .date {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #ffffff;
  font-family: "Times New Roman", sans-serif;
  background: #A66618;
  padding: 2px 5px;
  padding-right: 30px;
}
.news_area .news_item .text {
  padding-top: 5px;
}
.news_area .news_item .text .title {
  font-size: 22px;
  font-family: "Times New Roman", sans-serif;
  font-weight: 600;
  color: #282B66;
}
@media (max-width: 991.98px) {
  .news_area .news_item .text .title {
    font-size: 18px;
  }
}
.news_area .news_item .text p {
  font-family: "Times New Roman", sans-serif;
  font-size: 12px;
  margin-top: 5px;
}
.news_area .news_item .text .read_more .btn_link {
  font-size: 16px;
  font-weight: 500;
  color: #282B66;
}
@media (max-width: 991.98px) {
  .news_area .news_item .text .read_more .btn_link {
    font-size: 13px;
  }
}
.news_area .news_item:hover .img img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.news_area .arrow {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  background: #F0F2F6;
}
.news_area .arrow:hover {
  background: #A66618;
  color: #ffffff;
}

.award_area .award_slider {
  padding: 0 50px;
}
.award_area .award_item {
  padding: 0 20px;
}
@media (max-width: 575.98px) {
  .award_area .award_item {
    padding: 0 5px;
  }
}
.award_area .arrow {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  background: #F0F2F6;
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media (max-width: 767.98px) {
  .award_area .arrow {
    width: 34px;
    height: 34px;
  }
}
.award_area .arrow:hover {
  background: #A66618;
  color: #ffffff;
}
.award_area .arrow_left {
  left: 0;
}
.award_area .arrow_right {
  right: 0;
}

.body_right_sidebar .item_box .title {
  background: #282B66;
  color: #ffffff;
  font-family: "Roboto Condensed", serif;
  font-size: 23px;
  font-weight: 600;
  padding: 5px 8px;
  margin-bottom: 10px;
}
.body_right_sidebar .item_box .img {
  max-width: 200px;
  overflow: hidden;
}
.body_right_sidebar .item_box .img img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.body_right_sidebar .item_box .text {
  margin-top: 5px;
}
.body_right_sidebar .item_box .text .name {
  font-size: 18px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  color: #282B66;
}
.body_right_sidebar .item_box .text p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  color: #282B66;
}
.body_right_sidebar .item_box .file {
  max-width: 133px;
  margin-top: 20px;
}
.body_right_sidebar .item_box .file img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.body_right_sidebar .item_box:hover .img img, .body_right_sidebar .item_box:hover .file img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.body_right_sidebar .item_box + .item_box {
  margin-top: 24px;
}

.important_event .event_slider {
  margin-top: 20px;
}
.important_event .title a {
  font-size: 12px;
  font-weight: 500;
  color: #A66618;
}
.important_event .title a:hover {
  color: #ffffff;
}
.important_event .title .arrow {
  width: 18px;
  height: 18px;
  background: #F0F2F6;
  border-radius: 3px;
  font-size: 8px;
}
.important_event .event_item .date {
  color: #ffffff;
  font-family: "Times New Roman", sans-serif;
  background: #282B66;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 80%;
}
.important_event .event_item .date .month {
  font-size: 12px;
}
.important_event .event_item .text {
  margin-top: 0;
}
.important_event .event_item .text .e_title {
  font-size: 16px;
  font-family: "Times New Roman", sans-serif;
  font-weight: 500;
}
.important_event .event_item .text p {
  margin: 5px 0 5px 0;
  font-weight: 500;
}
.important_event .event_item .text .date_time {
  color: #757575;
  font-size: 12px;
  font-family: "Times New Roman", sans-serif;
}
.important_event .event_item + .event_item {
  margin-top: 12px;
}

.maritime_slider {
  margin-top: 20px;
}
.maritime_slider .maritime_item {
  overflow: hidden;
}
.maritime_slider .maritime_item img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.maritime_slider .maritime_item .text {
  padding: 20px;
}
.maritime_slider .maritime_item .text .m_title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  max-width: 180px;
  margin: 0 auto;
}
.maritime_slider .maritime_item .text p {
  font-family: "Times New Roman", sans-serif;
  color: #ffffff;
  margin-top: 4px;
}
.maritime_slider .maritime_item:hover img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}
.maritime_slider .arrow {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
  background: #F0F2F6;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.maritime_slider .arrow:hover {
  background: #A66618;
  color: #ffffff;
}
.maritime_slider .arrow-prev {
  left: 0;
}
.maritime_slider .arrow-next {
  right: 0;
}

.social_icon li a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 4px;
}
.social_icon li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.social_icon li .fb {
  background: #3B5998;
}
.social_icon li .tw {
  background: #000000;
}
.social_icon li .lin {
  background: #006599;
}
.social_icon li .yt {
  background: #BD0F33;
}

.footer_area {
  margin-top: 80px;
  background: #002147;
  padding: 30px 0 20px;
}
.footer_area .footer_social {
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 30px;
}
.footer_area .footer_social .title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.footer_area .footer_widget .ft_title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  margin-bottom: 10px;
}
.footer_area .footer_widget .w_title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  margin-bottom: 0px;
}
.footer_area .footer_widget ul li a {
  font-size: 12px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  color: #ffffff;
}
.footer_area .footer_widget .widget_item + .widget_item {
  margin-top: 20px;
}
.footer_area .contact_widget .info {
  font-size: 12px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  color: #ffffff;
}
.footer_area .contact_widget ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer_area .contact_widget ul li .icon {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
  text-align: center;
  line-height: 17px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer_area .contact_widget ul li .icon svg {
  width: 12px;
  height: 12px;
}
.footer_area .contact_widget ul li + li {
  margin-top: 5px;
}
.footer_area .footer_btm {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 60px;
  padding-top: 20px;
}
.footer_area .footer_btm p {
  font-size: 12px;
  font-weight: 500;
  font-family: "Times New Roman", sans-serif;
  color: #ffffff;
}

/* scroll to top area */
.scroll-to-top {
  display: inline-block;
  background: #A66618;
  width: 40px;
  height: 40px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border: 0;
  position: fixed;
  bottom: 0px;
  right: 15px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  font-size: 18px;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.scroll-to-top:hover {
  background: #282B66;
  color: #ffffff;
}
.scroll-to-top span {
  position: absolute;
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 14px;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.page_header {
  color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page_header .overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}
.page_header .page_title {
  font-size: 32px;
  color: #ffffff;
  line-height: 1.2em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  font-family: "Times New Roman", sans-serif;
}
@media (max-width: 767.98px) {
  .page_header .page_title {
    font-size: 22px;
  }
}
.page_header .page_nav {
  text-align: left;
}
.page_header .page_nav li {
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .page_header .page_nav li {
    font-size: 14px;
  }
}
.page_header .page_nav li a {
  color: #ffffff;
}
.page_header .page_nav li i {
  font-size: 12px;
  padding: 0 12px 0 10px;
}
.page_header .page_nav li:last-child i {
  display: none;
}

.about_page_area {
  padding-top: 80px;
}
.about_page_area .text .title,
.about_page_area .text .title2 {
  font-family: "Times New Roman", sans-serif;
}
.about_page_area .text .title {
  font-size: 30px;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 15px;
}
@media (max-width: 991.98px) {
  .about_page_area .text .title {
    font-size: 26px;
  }
}
@media (max-width: 991.98px) {
  .about_page_area .text .title {
    font-size: 20px;
  }
}
.about_page_area .text .title2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .about_page_area .text .title2 {
    font-size: 34px;
  }
}
@media (max-width: 575.98px) {
  .about_page_area .text .title2 {
    font-size: 26px;
  }
}
.about_page_area .text p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  text-align: justify;
}
.about_page_area .text h4,
.about_page_area .text h5,
.about_page_area .text h6 {
  margin-top: 20px;
  font-family: "Times New Roman", sans-serif;
  font-weight: 600;
}
.about_page_area .text ul {
  padding-left: 16px;
  margin-top: 20px;
}
.about_page_area .text ul li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.member_page_area {
  padding-top: 80px;
}

.single-team-card {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 14px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.single-team-card.team-page-card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(85, 85, 85, 0.1);
          box-shadow: 0px 0px 30px rgba(85, 85, 85, 0.1);
  border-radius: 20px;
}
.single-team-card::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #282B66;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  border-radius: 20px;
}
.single-team-card .team-img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  overflow: hidden;
  border-radius: 20px;
}
.single-team-card .team-img img {
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.single-team-card .single-team-content {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 10px;
}
.single-team-card .single-team-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 15px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
@media (max-width: 767.98px) {
  .single-team-card .single-team-content h3 {
    font-size: 15px;
  }
}
.single-team-card .single-team-content p {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  font-size: 15px;
  font-weight: 600;
  color: #A66618;
  text-transform: uppercase;
}
.single-team-card .tem_btn {
  margin-top: auto;
  text-align: center;
}
.single-team-card .view_more {
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  color: #282B66;
  margin-top: 20px;
  padding: 8px 20px;
  border: 1px solid #282B66;
}
.single-team-card .view_more:hover {
  background-color: #A66618;
  color: #282B66;
  border-color: #A66618 !important;
}
.single-team-card:hover .team-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.single-team-card:hover .single-team-content h3 {
  color: #ffffff;
}
.single-team-card:hover .single-team-content p {
  color: #ffffff;
}
.single-team-card:hover .view_more {
  color: #ffffff;
  border-color: #ffffff;
}
.single-team-card:hover::after {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.pagination {
  margin-top: 50px;
}
.pagination ul {
  gap: 15px;
}
.pagination ul li .paginate {
  width: 40px;
  height: 40px;
  border: 0;
  border: 1px solid #dddddd;
  font-weight: 700;
  color: #282B66;
  font-size: 15px;
  line-height: 36px;
}
.pagination ul li .paginate:hover {
  border-color: transparent;
  background-color: #A66618;
  color: #ffffff;
}
.pagination ul li .active {
  border-color: transparent;
  background-color: #A66618;
  color: #ffffff;
}

.content_page_area {
  margin-top: 70px;
}
.content_page_area .image {
  border-radius: 15px;
  overflow: hidden;
  float: left;
  padding-right: 40px;
  margin-bottom: 20px;
}
@media (max-width: 575.98px) {
  .content_page_area .image {
    padding-right: 0;
  }
}
.content_page_area .image img {
  border-radius: 15px;
}
.content_page_area .title {
  font-size: 40px;
}
@media (max-width: 575.98px) {
  .content_page_area .title {
    font-size: 30px;
  }
}
.content_page_area h1,
.content_page_area h2,
.content_page_area h3,
.content_page_area h4,
.content_page_area h5,
.content_page_area h6 {
  font-weight: 600;
  margin-bottom: 30px;
  font-family: "Times New Roman", sans-serif;
}
.content_page_area .content p {
  margin-bottom: 24px;
  text-align: justify;
  font-size: 16px;
}
.content_page_area .content ul {
  padding-left: 14px;
  margin-bottom: 30px;
}
.content_page_area .content ul li {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.content_page_area .clr {
  clear: both;
}

.faq_page_area {
  padding-top: 80px;
}
.faq_page_area .faq-body .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.faq_page_area .faq-body .accordion-item {
  border: 1px solid #ddd;
  border-radius: 8px !important;
}
.faq_page_area .faq-body .accordion-button {
  color: #282B66;
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  background: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 8px !important;
  padding: 24px;
  position: relative;
  font-family: "Times New Roman", sans-serif;
}
@media (max-width: 575.98px) {
  .faq_page_area .faq-body .accordion-button {
    font-size: 20px;
    padding: 16px;
  }
}
.faq_page_area .faq-body .accordion-button::after {
  background: none;
}
.faq_page_area .faq-body .accordion-button .arrow-icon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #f5f5f5;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq_page_area .faq-body .accordion-button .arrow-icon svg {
  width: 20px;
  height: 20px;
  stroke: #A66618;
}
.faq_page_area .faq-body .accordion-button .arrow-icon .minus {
  display: none;
}
.faq_page_area .faq-body .accordion-button:not(.collapsed) {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #A66618;
}
.faq_page_area .faq-body .accordion-button:not(.collapsed) .arrow-icon {
  background: #f5f5f5;
}
.faq_page_area .faq-body .accordion-button:not(.collapsed) .arrow-icon .minus {
  display: block;
}
.faq_page_area .faq-body .accordion-button:not(.collapsed) .arrow-icon .plus {
  display: none;
}
.faq_page_area .faq-body .accordion-item + .accordion-item {
  margin-top: 16px;
}
.faq_page_area .faq-body .accordion-body {
  padding: 24px;
  padding-top: 0;
}
@media (max-width: 575.98px) {
  .faq_page_area .faq-body .accordion-body {
    padding: 16px;
    padding-top: 0;
  }
}

.publication_area {
  padding-top: 80px;
}
.publication_area .publication_item {
  background: #ffffff;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  z-index: 1;
  height: 100%;
  border: 1px solid transparent;
  overflow: hidden;
}
.publication_area .publication_item .pub-img img {
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.publication_area .publication_item .content {
  visibility: hidden;
  opacity: 0;
  padding: 14px;
  background: #ffffff;
  left: 0;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.publication_area .publication_item .content h3 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Times New Roman", sans-serif;
  color: #A66618;
  margin-bottom: 8px;
}
@media (max-width: 767.98px) {
  .publication_area .publication_item .content h3 {
    font-size: 18px;
  }
}
.publication_area .publication_item .content p {
  font-size: 14px;
  font-weight: 400;
}
.publication_area .publication_item .content p strong {
  font-weight: 700;
}
.publication_area .publication_item:hover {
  border-color: #282B66;
}
.publication_area .publication_item:hover .content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
.publication_area .publication_item:hover .pub-img img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact_section {
  margin-top: 80px;
}
.contact_section .contact_info {
  margin-bottom: 60px;
}
.contact_section .contact_info .info_item {
  padding: 40px 25px 45px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.contact_section .contact_info .info_item .icon_box {
  margin-bottom: 20px;
}
.contact_section .contact_info .info_item .icon_box img {
  width: 50px;
}
.contact_section .contact_info .info_item .title_box {
  margin-bottom: 20px;
}
.contact_section .contact_info .info_item .title_box .title {
  color: #282B66;
  font-size: 24px;
  font-family: "Times New Roman", sans-serif;
}
.contact_section .contact_info .info_item .content_box .text {
  font-size: 16px;
  font-weight: 400;
}
.contact_section .contact_info .info_item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}
.contact_section .contact_form .form {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 767.98px) {
  .contact_section .contact_form .form {
    padding: 24px;
  }
}
.contact_section .contact_form .form .title {
  color: #282B66;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Times New Roman", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  .contact_section .contact_form .form .title {
    font-size: 28px;
  }
}
.contact_section .contact_form .form .title span {
  font-weight: 600;
  color: #A66618;
}
.contact_section .contact_form .form p {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.contact_section .contact_form .form .form_main {
  margin-top: 30px;
}
.contact_section .contact_form .form .form_main .input_group label {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.contact_section .contact_form .form .form_main .input_group input,
.contact_section .contact_form .form .form_main .input_group select,
.contact_section .contact_form .form .form_main .input_group textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  height: 50px;
  font-size: 15px;
  border-radius: 0;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.contact_section .contact_form .form .form_main .input_group input:focus,
.contact_section .contact_form .form .form_main .input_group select:focus,
.contact_section .contact_form .form .form_main .input_group textarea:focus {
  border-color: #282B66;
}
.contact_section .contact_form .form .form_main .input_group textarea {
  height: 130px;
  padding: 15px;
}
.contact_section .contact_form .form .form_main .submit_btm {
  background: #A66618;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  padding: 16px 10px;
}
.contact_section .contact_form .form .form_main .submit_btm:hover {
  background: #282B66;
}
.contact_section .contact_form .map {
  height: 100%;
}
@media (max-width: 1199.98px) {
  .contact_section .contact_form .map {
    height: 500px;
  }
}
.contact_section .contact_form .map iframe {
  width: 100%;
  height: 100%;
}