$white: #ffffff;
$black:  #282B66;
$primary: #A66618;
$robot:"Roboto", sans-serif;
$times:'Times New Roman', sans-serif;
$roboto2:"Roboto Condensed", serif;
$transition: all 0.4s ease-out 0s;
$shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);