@import "../variable/variable";
@import "../mixin/font";

.banner_section {

  .banner-slider {

    .arrow {
      width: 56px;
      height: 56px;
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      color: #656361;
      cursor: pointer;
      transition: $transition;
      border-radius: 5px;
      &:hover{
        background: $primary;
        color: $white;
      }
    }

    .arrow-prev {
      left: 0;
    }

    .arrow-next {
      right: 0;
    }
  }
}
.banner_sm_main{
  left: 0;
  bottom: 20px;
  .slick-list{
    padding: 10px 0 !important;
    margin: -10px 0;
  }
  .slider_sm_item{
    border-radius: 50%;
    border: 1px solid $black;
    margin: 0 10px;
    cursor: pointer;
    img{
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      transition: $transition;
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}